<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1532762487806-ceca4f30263b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);">
  <div class="container">
    <h1>Rent animals to <strong>clear your yard</strong>!</h1>
    <p>More eco-friendly than machines because there is no pollution. Goats naturally fertilize as they go. They can also save you up to 50% compared to average landscaping labor costs.</p>
    <a class="btn btn-primary" href="#">Apply now</a>
  </div>
</div>
