    <div class="content">
      <div class="index-cards">
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
          Rio
        </div>

      </div>


      <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png'>
    </div>
